.grocery-list__container{
   display: flex;
   flex-direction: column;
   gap: 20px;
   align-items: center;
   margin-top: 100px;
   input{
      padding: 10px;
      border-radius: 5px;
   }
   &-form{
      display: flex;
      gap: 10px;
      button{
         padding: 10px;
         border-radius: 5px;
         background-color: orange;
         color: white;
         border: none;
         cursor: pointer;
      }
   }
}
