@use "@/assets/styles/variables.scss" as nav;

.btn {
    background: none;
    border: 1px solid;
    border-color: nav.$button-border-deafult;

    &-default-size {
        padding: nav.$button-default-size;
    }

    &-large-size {
        padding: nav.$button-large-size;
    }

    &-default-color {
        background-color: nav.$button-bg-default;
        color: nav.$button-color-default;

        &:hover {
            border: 1px solid;
            border-color:  nav.$button-border-hover;
            color: nav.$button-color-hover;
            background-color: nav.$button-bg-hover;
        }
    }

    &:disabled {
        background: nav.$button-bg-disabled;
        color: nav.$button-color-disabled;

        &:hover {
            border: 1px solid;
            border-color:  nav.$button-border-deafult;
        }
    }
}